.attribute {
  :last-child {
    margin-bottom: 0;
  }

  &--s {
    margin-bottom: 8px;
  }
  &--m {
    margin-bottom: 24px;
  }

  &__name {
    margin-bottom: 8px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  };
}


.item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &--text {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-black);
    &--s {
      height: 24px;
      width: 24px;
    }
    &--m {
      height: 45px;
      width: 63px;
    }
  }
  &--text--chosen {
    background: var(--color-black);
    color: var(--color-white);
  }

  &--swatch {
    &--s {
      width: 16px;
      height: 16px;
      aspect-ratio: 1/1;
    }
    &--m {
      width: 32px;
      height: 32px;
      aspect-ratio: 1/1;
    }
  }
  &--swatch--chosen {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--color-green);
  }
}
