.listing {
  border:1px solid black;
  padding: 1rem;
  background: var(--white);
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 1px 1px 30px 10px rgba(1, 1, 1, 0.1);
  }

  &--out-of-stock {
    user-select: none;
  }

  & > .img-wrapper {
    border:1px solid red;
    background: var(--white);
    overflow: hidden;
    // position: relative;

    &, > img {
      max-width: 354px;
      height: 330px;
    }

    > img {
      width: 100%;
      object-fit: contain;
    }
  }

  & > .out-of-stock-modal {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.add-to-cart {
  background: #5ECE7B;
  border: none;

  &__image {
    width: 24px;
    height: 24px;
  }
}