.listing {
  border:1px solid black;
  padding: 1rem;
  background: var(--color-white);
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 30px 10px rgba(1, 1, 1, 0.1);
  }

  &--out-of-stock {
    position: relative;
    user-select: none;
  }

  .img-and-btn-wrapper {
    position: relative;
  }

  .img-wrapper {
    background: var(--color-white);
    overflow: hidden;

    &, > img {
      max-width: 354px;
      height: 330px;
    }

    > img {
      width: 100%;
      object-fit: contain;
    }
  }
  
  .details {
    margin-top: 24px;
    line-height: 160%;
  }

  .out-of-stock-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.add-to-cart {
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  border-radius: 100%;
  border: none;
  position: absolute;
  right: 0;
  transform: translate(-15px, -50%);


  &__image {
    width: 24px;
    height: 24px;
  }
}