.scrollview {
  width: 100%;
  height: 100%;

  // hide scrollbar
  &--hide-scroll {
    &::-webkit-scrollbar { display: none; }
  }
  
  &--h { overflow-x: scroll; }
  &--v { overflow-y: scroll; }
}
