.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-modal);
  z-index: 1000;
  
  &--content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-content {
  width: fit-content;
}
