.head {
  display: flex; 
  border: none;
  background: var(--color-white);
}

.head__content {
  position: relative;
  &__cart-count {
    position: absolute;
    top: -40%;
    right: -60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
