.head { display: flex;  border: none; background: var(--color-white); }

.menu {
  background: var(--color-white);
  width: 339px;
  height: 677px;
  padding: 32px 16px;
  border: 1px solid black;

  .heading {
    margin-bottom: 32px;
  }

  .product-list {
    height: 420px;
  }
}
