.dd-head {
  border: none;
  background: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0;

  & > :first-child { margin-right: 10px; }
}

.dd-menu {
  background: var(--color-white);
  box-shadow: 1px 1px 5px 1px rgba(1, 1, 1, 0.1);
  padding: 8px 0;

  &__item {
    padding: 12px 20px;
    margin: 12px 0;
    cursor: pointer
  }

  &__item:hover {
    background: #EEEEEE;
  }
}