@use './styles/reset';
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html, body, #root { height: 100%; background: #FFFFFF; }

html { font-size: 16px }

:root {
  --navbar-offset: 5rem;
  --max-page-width: 1240px;
  
  .container {
    max-width: var(--max-page-width);
    margin: 0 auto;
  }

  .page--container {
    @extend .container;
    padding-top: var(--navbar-offset);
  }

  // font-families
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  // font-sizes
  --fs-xs: 14px; 
  --fs-s: 16px; 
  --fs-m: 18px; 
  --fs-l: 24px;
  --fs-xl: 30px;

  // font-weights
  --fw-b: 700;

  // colors
  --black: #1D1F22;
  --white: #FFFFFF;
  --green: #5ECE7B;

  // defaults
  color: var(--black);
  font-family: var(--ff-primary);
}
