@use './styles/reset';
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html, body, #root { height: 100%; background: #FFFFFF; }

html { font-size: 16px }

:root {
  --navbar-offset: 5rem;
  --max-page-width: 1240px;
  
  .container {
    max-width: var(--max-page-width);
    margin: 0 auto;
  }

  .page--container {
    @extend .container;
    padding-top: var(--navbar-offset);
  }

  // font-families
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  // font-sizes
  --fs-xs: 14px; 
  --fs-s: 16px; 
  --fs-m: 18px;
  --fs-l: 24px;
  --fs-xl: 30px;

  // colors
  --color-black: #1D1F22;
  --color-white: #FFFFFF;
  --color-green: #5ECE7B;
  --color-modal: rgba(57, 55, 72, 0.22);

  // defaults
  color: var(--color-black);
  font-family: var(--ff-primary);

  // custom classes:
  // background-color
  .--bg-green {
    background-color: var(--color-green);
  }
  .--bg-white {
    background-color: var(--color-white);
  }
  // color
  .--color-black {
    color: var(--color-black);
  }
  .--color-green {
    color: var(--color-green);
  }
  .--color-white {
    color: var(--color-white);
  }
  // border
  .--border-black {
    border: 1px solid black;
  }
}
