.pdp {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.lefthandside {
  margin-right: 100px;
  &__gallery {
    display: flex;
    
    &__img-list {
      &--wrap {
        height: 600px;
        margin-right: 40px;
      }

      li {
        width: 176px;
        cursor: pointer;
        margin-bottom: 32px;
      }
      li:last-child {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        max-width: 176px;
        height: auto;
        object-fit: contain;
      }
    }

    &__main-view {
      width: 610px;

      .img-wrap {
        width: 610px;
      }

      img {
        width: 100%;
        max-width: 610px;
        height: auto;
        object-fit: contain;
      }
    }
  }

}
.righthandside {
  width: 100%;
  &__brand { line-height: 160%; }
  &__product { line-height: 160%; margin-bottom: 43px; }
  &__attributes { margin-bottom: 38px; }
  &__price { margin-bottom: 38px; }
  &__add-to-cart {
    width: 292px;
    background: var(--color-green);
    border: 0;
    margin-bottom: 40px;

    &__text {
      color: var(--color-white);
      line-height: 48px;
    }
  }
}