.pdp {
  border: 1px solid red;
  display: flex;
  // height: 100%; // won't work unless page-container is also made height: 100%;
}

.lefthandside {
  // border: 1px solid black;
  margin-right: 100px;
  &__gallery {
    // border: 1px solid blue;
    display: flex;
    
    &__img-list {
      &--wrap {
        // width: 186px;
        height: 600px;
        margin-right: 40px;
      }

      li {
        width: 176px;
        cursor: pointer;
        margin-bottom: 32px;
      }

      li:last-child {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        max-width: 176px;
        height: auto;
        object-fit: contain;
      }

    }

    &__main-view {
      // border: 1px solid pink;
      width: 610px;

      .img-wrap {
        width: 610px;
      }

      img {
        width: 100%;
        max-width: 610px;
        height: auto;
        object-fit: contain;
      }
    }
  }

}
.righthandside {
  border: 1px solid red;
  width: 100%;

  &__add-to-cart {
    width: 292px;
    background: var(--green);
    border: 0;

    &__text {
      color: var(--white);
      font-size: var(--fs-s);
      line-height: 48px;
    }
  }
}